# --- INFRAESTRUTURA BÁSICA ---
DOMAIN=domain
STORAGE_PATH=/path
TZ=America/Sao_Paulo

# --- SIYUAN ---
# Código de acesso à interface web (obrigatório para segurança)
SIYUAN_ACCESS_AUTH_CODE=sua_senha_de_acesso_aqui