# Identidade do Usuário (id lucas_amaral)
PUID=1000
PGID=1000

# Caminho Base (ajustado para o seu padrão)
STORAGE_PATH=caminho

# Credenciais do Banco
POSTGRES_USER=user
POSTGRES_PASSWORD=sua_senha_secreta_aqui
POSTGRES_DB=postgres