# --- INFRAESTRUTURA BÁSICA ---
DOMAIN=domain
STORAGE_PATH=/path
APPFLOWY_GOTRUE_EXTERNAL_URL=https://appflowy-cloud.dominio
APPFLOWY_WEB_URL=https://appflowyflow.dominio
APPFLOWY_WS_BASE_URL=wss://af-cloud.dominio.com/ws/v2

# --- BANCO DE DADOS (Postgres Interno) ---
POSTGRES_USER=appflowy
POSTGRES_PASSWORD=sua_senha_forte_aqui
POSTGRES_DB=appflowy
# --- STORAGE S3 (MinIO Interno) ---
MINIO_ROOT_USER=appflowy_minio
MINIO_ROOT_PASSWORD=sua_senha_minio_forte

# --- SEGREDOS DO APPFLOWY (IMPORTANTE) ---
# Gere strings aleatórias para esses campos (pode usar 'openssl rand -hex 32')
APPFLOWY_ACCESS_CONTROL_SECRET=coloque_um_hash_aleatorio_aqui
APPFLOWY_GOTRUE_JWT_SECRET=outro_hash_aleatorio_para_o_jwt

# --- CONFIGURAÇÕES DE ADMIN ---
# O e-mail que você usará para o primeiro login
APPFLOWY_ADMIN_EMAIL=seu-email@exemplo.com
APPFLOWY_ADMIN_PASSWORD=senha_admin_provisoria