# --- INFRAESTRUTURA BÁSICA ---
DOMAIN=domain
STORAGE_PATH=/path
APPFLOWY_GOTRUE_EXTERNAL_URL=https://appflowy-cloud.dominio
APPFLOWY_WEB_URL=https://appflowyflow.dominio
APPFLOWY_WS_BASE_URL=wss://af-cloud.dominio.com/ws/v2

# --- BANCO DE DADOS (Postgres Global) ---
# Use as mesmas que você já configurou no seu banco global
PG_USER=user
PG_PASSWORD=sua_senha_forte_aqui

# --- STORAGE S3 (MinIO Global) ---
MINIO_ROOT_USER=seu_user_minio
MINIO_ROOT_PASSWORD=sua_senha_minio

# --- SEGREDOS DO APPFLOWY (IMPORTANTE) ---
# Gere strings aleatórias para esses campos (pode usar 'openssl rand -hex 32')
APPFLOWY_ACCESS_CONTROL_SECRET=coloque_um_hash_aleatorio_aqui
APPFLOWY_GOTRUE_JWT_SECRET=outro_hash_aleatorio_para_o_jwt
APPFLOWY_GOTRUE_DB_DATABASE_URL=postgres://${PG_USER}:${PG_PASSWORD}@postgres-global:5432/appflowy
APPFLOWY_DATABASE_URL=postgres://${PG_USER}:${PG_PASSWORD}@postgres-global:5432/appflowy
APPFLOWY_GOTRUE_DB_DATABASE_URL=postgres://${PG_USER}:${PG_PASSWORD}@postgres-global:5432/appflowy


# --- CONFIGURAÇÕES DE ADMIN ---
# O e-mail que você usará para o primeiro login
APPFLOWY_ADMIN_EMAIL=seu-email@exemplo.com
APPFLOWY_ADMIN_PASSWORD=senha_admin_provisoria