DOMAIN=

# RSSHub Instagram Auth
IG_COOKIE='sessionid=; ds_user_id=; csrftoken=;'

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_API_PASSWORD=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=freshrss

# Volumes Data
RSS_DATA_DIR=