INDEXER_PASSWORD=#PASSWORD INDEXER
HASHED_INDEXER_PASSWORD=#HASHED PASSWORD INDEXER

API_USERNAME=#USERNAME API
API_PASSWORD=#PASSWORD API

VOLUME_WAZUH=/mnt/storage/docker_volumes/wazuh

KIBANA_PASSWORD=#PASSWORD KIBANA
HASHED_KIBANA_PASSWORD=#HASHED PASSWORD KIBANA

DOMAIN=daberga.com