# Caminho base para os volumes do Wazuh
WAZUH_DATA_DIR=/mnt/storage/docker_volumes/wazuh
DOMAIN=seudominio.com.br
WAZUH_INDEXER_PASSWORD=SuaNovaSenhaForte123!
KIBANASERVER_PASSWORD=SuaNovaSenhaForte123!
WAZUH_API_PASSWORD=OutraSenhaForteParaApi456!
