DOMAIN=example.com

# Mosquitto Credentials
MOSQUITTO_USER=admin
MOSQUITTO_PASS=secret_password

# OwnTracks Recorder Credentials (Web Interface)
OTR_USER=admin
OTR_PASS=secret_password
STORAGE_PATH=caminho