# URL do domínio onde o n8n vai rodar
N8N_DOMAIN=n8n.seudominio.com

# Fuso Horário
TIMEZONE=America/Sao_Paulo

# Chave de encriptação (Altere para algo seguro em prod)
N8N_ENCRYPTION_KEY=chave-super-secreta

# Caminho de dados persistentes do n8n (pode ser um caminho em outro disco)
N8N_DATA_DIR=./n8n_data
